.social-circle-container {
  background: linear-gradient(to right, #5865F2 0%, #5865F2 33%, #0ebad1 100%);
  padding: 16px 6px 16px 6px;
  overflow-y: auto;
  border-radius: 8px;
}

.social-accounts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #DAF5F8 0%, #B1E8F0 33%, #DAEFF8 100%);
  border-radius: 8px;
  overflow-y: auto;
  white-space: nowrap;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.social-account-logo {
  width: 48px;
  height: 32px;
  margin-right: 8px;
  padding: 2px;
  border-radius: 3px;
  background-color: #ffffff;
}

.social-account-links {
  justify-content: center;
  align-items: center;
  padding: 8px;
  min-width: 300px;
  max-width: 300px;
  margin: 4px;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: none;
  overflow-y: auto;
}

@media screen and (max-width: 1399px) {
  .social-account-links {
    min-width: 380px;
    max-width: 380px;
  }
}

@media screen and (max-width: 767px) {
  .social-account-links {
    min-width: 380px;
    max-width: 380px;
  }
}

@media screen and (max-width: 510px) {
  .social-account-links {
    min-width: 236px;
    max-width: 300px;
  }
}

@media screen and (max-width: 510px) {
  .social-account-links {
    max-width: 600px;
  }
}

@media screen and (max-width: 360px) {
  .social-account-links {
    min-width: 200px;
    max-width: 400px;
  }
}

.social-account-logo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  padding: 2px;
  border-radius: 3px;
  background-color: #ffffff;
}

.social-account-checkmark {
  margin-left: auto;
}

.remove-social-circle {
  position: absolute;
  cursor: pointer;
  margin-left: 8px;
  user-select: none;
  right: 16px;
  transform: translateY(25%);
}