.tree-container {
  transition: opacity 0.3s ease;
}

.tree-container.animate-fade-in {
  animation: fade-in-animation 0.3s ease;
}

.tree-container.animate-fade-out {
  animation: fade-out-animation 0.3s ease;
}

@keyframes fade-out-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}