.settings-overlay {
  z-index: 999;
  background: linear-gradient(to right, #DAF5F8 0%, #B1E8F0 33%, #DAEFF8 100%);
  margin: 0px 0px 58px 0px;
  padding: 0px 0px 16px 0px;
  border-radius: 22px;
  overflow-y: auto;
}

.settings-overlay .settings-header {
  background: linear-gradient(to right, #5865F2 0%, #5865F2 33%, #0ebad1 100%);
  color: #d3faff;
  text-shadow: 2px 3px 2px #0e92c2, 0 0 1em #5865F2, 0 0 0.2em #5865f296;
  font-family: 'Bruno Ace SC', cursive;
  font-size: 19px;
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3);
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 4px 20px;
  border-radius: 20px 20px 0px 0px;
}

.social-container {
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 0px 20px;
}

.social-account-button {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.account-status {
  margin-left: auto;
  color: green;
}

.social-circles {
  margin: 0px 0px 0px 0px;
  padding: 8px 0px 8px 0px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.action-button {
  margin-left: 8px;
}
