@keyframes slide-in-right {
  from {
    opacity: 0.1;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0.1;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate.slide-in-right {
  animation: slide-in-right 0.3s ease-out;
  animation-fill-mode: both;
}

.animate.slide-in-left {
  animation: slide-in-left 0.3s ease-out;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate.fade-in {
  animation: fade-in 0.2s ease-in-out;
  animation-fill-mode: both;
}

/* Add the following style to your existing CSS file */
.animate.fade-in.hovered[title] {
  position: relative;
  cursor: help;
}

.animate.fade-in.hovered[title]::before {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%) translateY(150%);
  background-color: #f0f0f0; /* Change to your desired tooltip background color */
  color: #555; /* Change to your desired tooltip text color */
  font-size: 12px; /* Change to your desired tooltip font size */
  padding: 2px 4px; /* Change to your desired tooltip padding */
  white-space: nowrap;
  z-index: 1;
}

.tree-icon-column {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.tree-icon-div {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-image: radial-gradient(rgba(255, 255, 255, 0.6667), rgba(0, 0, 0, 0.3333));
}

.tree-icon-image {
  width: 32px;
  padding: 0px 0px 0px 0px;
}
